<div class="row">
    <div class="col-lg-12">
        <dx-button
            type="default"
            text="Dodaj nową treść"
            [width]="200"
            [routerLink]="['/content/',{outlets: { 'panel-outlet': ['static-add'] } }]"
            >
        </dx-button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <dx-data-grid
            #grid
            [dataSource]="staticList"
            keyExpr="static_id"
            [allowColumnReordering]="false"
            [allowColumnResizing]="true"
            [columnAutoWidth]="true"
            [selectedRowKeys]="[]"
            (onRowRemoving)="onDelete($event.key)"
            (onSelectionChanged)="onSelectionChange($event.selectedRowKeys)"
            >
            <dxo-selection mode="single"></dxo-selection>

            <dxo-editing
                mode="row"
                [allowUpdating]="false"
                [allowDeleting]="true"
                [allowAdding]="false"
                [useIcons]="true"
                >
            </dxo-editing>
            <dxi-column 
                dataField="static_name" 
                caption="Tytuł">
            </dxi-column>  
        </dx-data-grid>
    </div>
</div>